.font-curaflow {
	font-family: "Inter", "Roboto", "Open Sans", Arial, sans-serif;
}

.curaflow-scrollbar ::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, #38bdf8 60%, #2563eb 100%);
	border-radius: 8px;
	box-shadow:
		0 0 8px 2px #38bdf833,
		0 0 4px 1px #2563eb33,
		0 0 8px 2px #34d39955;
	border: 2px solid #e0f2fe;
}
.curaflow-scrollbar ::-webkit-scrollbar-track {
	background: #f0f9ff;
	border-radius: 8px;
}
.curaflow-scrollbar ::-webkit-scrollbar-corner {
	background: #e0f2fe;
}

/* Firefox */
.curaflow-scrollbar * {
	scrollbar-width: thin;
	scrollbar-color: #38bdf8 #ffff;
}

.curaflow-scrollbar.dark ::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, #2563eb 60%, #0e7490 100%);
	box-shadow:
		0 0 12px 2px #2563eb33,
		0 0 8px 2px #0e749033,
		0 0 12px 2px #34d39955;
	border: 2px solid #0e7490;
}
.curaflow-scrollbar.dark ::-webkit-scrollbar-track {
	background: #183153;
}
.curaflow-scrollbar.dark ::-webkit-scrollbar-corner {
	background: #2563eb;
}

.curaflow-scrollbar.dark * {
	scrollbar-color: #38bdf8 #183153;
}
